.main5{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.main5.expanded {
    height: 100vh;
}

body {
  font-family: poppins, sans-serif;
  text-align: center;
  background: #f0f0f0;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}

#videoContainer {
  margin-top: 20px;
  height: 0%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

#videoContainer.expanded {
  height: 60%;
}

.main5-title {
  height: 100px;
  width: 80%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: linear-gradient(to top, #3eb99a, #2c7a6d);
  border-radius: 1rem;
  gap: 2rem;
}

.main5-title h1 {
  color: white;
  padding: 2rem;
}

.main5-title button {
  background-color: #fff;
  color: #00846e;
  border: none;
  border-radius: 10px;
margin: 2rem;

}